<!DOCTYPE html>
<html lang="en" xmlns="http://xmlns.jcp.org/jsf/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoot</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/Common.css" rel="stylesheet">
    <link href="css/Check.css" rel="stylesheet">
    <script src = "js/angular.min.js"></script>
    <script src="js/Canvas.js"></script>
</head>
<body ng-app="myApp" ng-controller="canvasController" >

<!--<form name="signout" method="post" action="rest/usr/logout">

    <input type="submit" class="btn btn-warning" value="Выйти"/>

</form>-->
<form name="checker"  method="post"   action="rest/point"  onsubmit="return validate()" >
  <table class="enterData ">

      <tr >
          <td colspan="2"  class="data"> Enter coordinats</td>


      </tr>
      <tr>
          <td  class="coord">X:</td>
          <td  >
          <input type="checkbox" name="x" ng-click="listenX(0)" value="-5">
              <label >-5&nbsp</label>
              <input type="checkbox" name="x" ng-click="listenX(1)" name="x" value="-4">
              <label >-4&nbsp</label>
              <input type="checkbox" ng-click="listenX(2)" name="x" value="-3">
              <label >-3&nbsp</label>
              <input type="checkbox" ng-click="listenX(3)" name="x" value="-2">
              <label >-2&nbsp</label>
              <input type="checkbox" ng-click="listenX(4)" name="x" value="-1">
              <label >-1&nbsp</label>
              <input type="checkbox" ng-click="listenX(5)" name="x" value="0">
              <label >0&nbsp</label>
              <input type="checkbox" ng-click="listenX(6)" name="x" value="1">
              <label >1&nbsp</label>
              <input type="checkbox" ng-click="listenX(7)" name="x" value="2">
              <label >2&nbsp</label>
              <input type="checkbox" ng-click="listenX(8)" name="x" value="3">
              <label >3&nbsp</label>
          </td>

      </tr>
     <tr>
         <td  class="coord">Y:</td>
      <td  ><input type="text" name="y" placeholder="(-5:3)" ng-blur="checkText()" ng-model="y"/></td>
     </tr>
      <tr >
          <td class="coord" >R:</td>
      <td   >
          <input type="checkbox" name="r"   ng-click="listen(0)"  value="0">
          <label >0&nbsp</label>
          <input type="checkbox" name="r"  ng-click="listen(1)" value="1">
          <label >1&nbsp</label>
          <input type="checkbox" name="r"   ng-click="listen(2)" value="2">
          <label >2&nbsp</label>
          <input type="checkbox" name="r"   ng-click="listen(3)" value="3">
          <label >3&nbsp</label>
      </td>
      </tr>
      <tr>
          <td></td>
          <td class="left">
              <input type="submit" ng-disabled="((y<=-5)||(y>=3)||(y===''))" class="btn btn-warning">

          </td>
      </tr>

  </table>
</form>
<table>
    <tr>
       <td><canvas id="graphen" width="650" height="650"></canvas></td>
    </tr>
</table>
<table>
    <tr>
        <td><canvas id="graphen_tabl" width="500" height="600"></canvas></td>
    </tr>
</table>
<table >
    <tr>
        <td><canvas id="graphen_mob" width="350" height="350"></canvas></td>
    </tr>
</table>

<table  >
    <tr>
        <td colspan="4">Результаты</td>
    </tr>
    <tr>
        <td>X:</td>
        <td>Y:</td>
        <td>R:</td>
        <td>Попадание:</td>

    </tr>
</table>

</body>
</html>